/* Profile container */
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f4f7;
  }
  
  .profile-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .profile-card h2 {
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .profile-details {
    margin-bottom: 30px;
  }
  
  .profile-details p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
  }
  
  .profile-details strong {
    font-weight: bold;
  }
  
  .logout-button {
    background-color: rgb(212, 255, 0);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .logout-button:hover {
    background-color: rgba(211, 253, 0, 0.603);
  }
  